[submodule "wordgame"]
	path = wordgame
	url = https://github.com/moof2k/wordgame
[submodule "mathgame"]
	path = mathgame
	url = https://github.com/moof2k/mathgame
[submodule "mathtable"]
	path = mathtable
	url = https://github.com/moof2k/mathtable
